
body {
    font: 13px Helvetica, Arial;
    background-image: url("../pictures/background.jpg");

}

button {
    font-size: 200px;

}

#start {
    background-color: #eeeeee;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 40%;
}

#login {
    width: 300px;
}

#chatForm {
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

#chatForm input {
    border-radius: 25px;
    border: 0;
    padding: 10px;
    width: 70%;
    margin-right: .5%;
}

#chatForm button {
    border: none;
    padding: 10px;
}

#messages {
    padding: 5px 5px;
    height: 500px;
    overflow: scroll;
    background: #eeeeee;
}

#messages div {
    font-size: 10pt;
    overflow: auto;
    width: max-content;
    max-width: 70%; /* limit width */
    word-break: break-all; /* wrap extended text*/
}

#messages div.usermessage {
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 5px;
    clear: right;
    background: #eeeeee;
}

#messages div.yourmessage {
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    margin-top: 5px;
    float: right;
    clear: left;
    clear: right;
    background: #01C9FA;
}

#messages div.timestamp {
    font-size: 7pt;
    float: right;
}

#chat {

    display: none;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: #eeeeee;
    display: none;
}

.closebtn {
    margin-left: 15px;
    color: #eeeeee;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.users {
    right: 0;
}

.userElement {
    cursor: pointer;
    width: 100px;
    height: 50px;
}

#homeChat {
    position: absolute;
    top: 0px;
    right: 0px;
}

.progress {
    height: 20px;
    width: 100%;
}

#file-chooser{
    width: 200px;
}

#uploadFinished{
    display:none;
}


